<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <meta charset='UTF-8'>
    <title>服务器错误-Token团队静态资源库</title>
    <style>
        html, body {
            font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', STXihei, 'Microsoft YaHei', SimHei, 'WenQuanYi Micro Hei', sans-serif;
        }
    </style>
</head>
<body>
    <h1 style="margin-top:100px; text-align: center;">500-服务器出现了内部错误，可能是因为您进行了错误的操作，暂时无法为您提供服务</h1>
    <p style="text-align: center; font-style: italic; font-size: 16px">Powered By Token Team @ 刘福鑫<p>
</body>
</html>